<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Jean-Charles Quillet - $title$</title>

    <!-- For social icons-->
    <script src="https://kit.fontawesome.com/0c986e42a3.js"></script>
    <!-- Needed for bundle.min.*.js-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Code for the menu and to generate toc -->
    <script src="./assets/toc-and-menu.js">
    </script>

    <!-- Main fonts for the site -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href="./assets/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="page-wrapper">

      <header id="header">

        <div id="stamp">
          <h1 id="name">
            <a href="/">
              <span class="emboldened">Jean.</span>Charles<span class="emboldened">.Quillet</span>
            </a>
          </h1>
        </div>

        <nav id="main-nav">
          <ul class="main">
            <li><a href="https://github.com/jecaro/cv/raw/master/resume-en/jeancharles.quillet-en.pdf">CV</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>

        <nav id="mobile-nav">
          <div class="menu"><a class="button">Menu</a>
            <div class="container">
              <ul class="main">
                <li><a href="https://github.com/jecaro/cv/raw/master/resume-en/jeancharles.quillet-en.pdf">CV</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </header>

      <article class="page">

        <div class="entry-content">
          $if(toc)$
          <nav id="toc" class="right-toc"></nav>
          $endif$
          $body$
        </div>

      </article>

      <footer id="footer">

        <div id="social">
          <a href= "https://www.linkedin.com/in/jeancharlesquillet/" title="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          ·
          <a href="https://github.com/jecaro" title="github">
            <i class="fab fa-github-alt"></i>
          </a>
          ·
          <a href="mailto:jeancharles.quillet@gmail.com" title="email">
            <i class="far fa-envelope"></i>
          </a>
        </div>

      </footer>

    </div>
  </body>
</html>
