<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Jean-Charles Quillet - $title$</title>

    <!-- For social icons-->
    <script src="https://kit.fontawesome.com/0c986e42a3.js"></script>
    <!-- Needed for bundle.min.*.js-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Code for the menu and to generate toc -->
    <script src="/assets/toc-and-menu.js"></script>

    <!-- Main fonts for the site -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/haddock.css" rel="stylesheet" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-84WVQ2L5VD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-84WVQ2L5VD');
    </script>

  </head>

  <body>

    <div class="page-wrapper">

      <header id="header">

        <div id="stamp">
          <h1 id="name">
            <a href="/">
              <span class="emboldened">Jean.</span>Charles<span class="emboldened">.Quillet</span>
            </a>
          </h1>
        </div>

        <nav id="main-nav">
          <ul class="main">
            <li><a href="/pages/cv.html">CV</a></li>
            <li><a href="/pages/posts.html">Posts</a></li>
            <li><a href="/pages/projects.html">Projects</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
          </ul>
        </nav>

        <nav id="mobile-nav">
          <div class="menu"><a class="button">Menu</a>
            <div class="container">
                <ul class="main">
                    <li><a href="/pages/cv.html">CV</a></li>
                    <li><a href="/pages/posts.html">Posts</a></li>
                    <li><a href="/pages/projects.html">Projects</a></li>
                    <li><a href="/pages/contact.html">Contact</a></li>
                </ul>
            </div>
          </div>
        </nav>

      </header>

      <article class="page">

        $if(show-title)$
        $if(title)$
        <h1 class="title">$title$</h1>
        $endif$
        $endif$

        <div class="entry-content">
          $if(toc)$
          <nav id="toc" class="right-toc"></nav>
          $endif$

          $body$
        </div>

        $if(date)$
          $if(version)$
        <div class="meta">
          $else$
        <div class="meta">
          $endif$
        $else$
          $if(version)$
        <div class="meta">
          $else$
          $endif$
        $endif$

        $if(date)$
            <div class="meta-component">
                <i class="far fa-calendar-alt fa-fw"></i>
                $date$
            </div>
        $endif$
        $if(version)$
            <div class="meta-component">
                <i class="fas fa-code-branch fa-fw"></i>
                <a href="https://github.com/jecaro/jeancharles.quillet/commit/$version$" class="git-commit">
                    $version$
                </a>
            </div>
        $endif$

        $if(date)$
          $if(version)$
        </div>
          $else$
        </div>
          $endif$
        $else$
          $if(version)$
        </div>
          $else$
          $endif$
        $endif$

      </article>

      <footer id="footer">

        <div id="social">
          <a href= "https://www.linkedin.com/in/jeancharlesquillet/" title="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          ·
          <a href="https://github.com/jecaro" title="github">
            <i class="fab fa-github-alt"></i>
          </a>
          ·
          <a href="mailto:jeancharles.quillet@gmail.com" title="email">
            <i class="far fa-envelope"></i>
          </a>
          ·
          <a href="/rss.xml" title="rss">
            <i class="fa fa-rss-square"></i>
          </a>
        </div>

      </footer>

    </div>
  </body>
</html>
